.header {
  background: #2b2b2b;
  padding: 20px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    height: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    gap: 30px;
    margin-right: 40px;
  }

  &__menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #f1c40f;
    }
  }

  &__btn {
    display: inline-block;
    padding: 20px;
    background: linear-gradient(90deg, #a855f7, #6366f1);
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    transition: background 0.3s ease;

    &:hover {
        background: linear-gradient(90deg, #6366f1, #a855f7);
    }
  }
}

